.article-bil-column {
  display: inline;
  float: left;
}
@media screen and (min-width: 768px) {
  .article-bil-column {
    width: calc(50% - 10px) /* 每栏各占宽 50%， 边界预留 10px 空白 */;
  }
  .article-bil-column.bil-first-column {
    padding: 0 10px 0 0;
  }
  .article-bil-column.bil-second-column {
    padding: 0 0 0 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .article-bil-column {
    width: calc(50% - 10px);
  }
  .article-bil-column.bil-first-column {
    padding: 0 10px 0 0;
  }
  .article-bil-column.bil-second-column {
    padding: 0 0 0 10px;
  }
}
@media screen and (max-width: 479px) {
  .article-bil-column {
    width: 100%;
  }
}
@media mq-mini {
  .article-bil-column {
    width: 100%;
  }
}
